/*

   This Source Code Form is subject to the terms of the GNU General Public License:

    Copyright (C) 2021-202x POKETUBE (https://github.com/iamashley0/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.

*/

/* RESPONSIVE STUFF */

/* Formula for xx50px - inital widht + 3em */
@media screen and (min-width: 1100px) {
  .video-info-panel.gradient {
    width: 41em;
  }
}

@media screen and (min-width: 1200px) {
  .video-info-panel.gradient {
    width: 48em;
  }
}

@media screen and (min-width: 1300px) {
  .video-info-panel.gradient {
    width: 54em;
  }
}

@media screen and (min-width: 1350px) {
  .video-info-panel.gradient {
    width: 57.05em;
  }
}

@media screen and (min-width: 1400px) {
  .video-info-panel.gradient {
    width: 60.3em;
  }
}

@media screen and (min-width: 1450px) {
  .video-info-panel.gradient {
    width: 63em;
  }
}

@media screen and (min-width: 1500px) {
  .video-info-panel.gradient {
    width: 66.5em;
  }
}

@media screen and (min-width: 1550px) {
  .video-info-panel.gradient {
    width: 69.3em; /* Noice */
  }
}

@media screen and (min-width: 1600px) {
  .video-info-panel.gradient {
    width: 73.3em;
  }
}

@media screen and (min-width: 1650px) {
  .video-info-panel.gradient {
    width: 75.3em;
  }
}

@media screen and (min-width: 1700px) {
  .video-info-panel.gradient {
    width: 78.3em;
  }
}

@media screen and (min-width: 1750px) {
  .video-info-panel.gradient {
    width: 81.3em;
  }
}

@media screen and (min-width: 1800px) {
  .video-info-panel.gradient {
    width: 85.3em;
  }
}

@media screen and (min-width: 1850px) {
  .video-info-panel.gradient {
    width: 88.3em;
  }
}

@media screen and (min-width: 1900px) {
  .video-info-panel.gradient {
    width: 91.3em;
  }
}

@media screen and (min-width: 1950px) {
  .video-info-panel.gradient {
    width: 94.3em;
  }
}

@media screen and (min-width: 2000px) {
  .video-info-panel.gradient {
    width: 97.3em;
  }
}

@media screen and (min-width: 2050px) {
  .video-info-panel.gradient {
    width: 100.3em;
  }
}

@media screen and (min-width: 2100px) {
  .video-info-panel.gradient {
    width: 103.3em;
  }
}

@media screen and (min-width: 2150px) {
  .video-info-panel.gradient {
    width: 106.3em;
  }
}

@media screen and (min-width: 2200px) {
  .video-info-panel.gradient {
    width: 109.3em;
  }
}

@media screen and (min-width: 2250px) {
  .video-info-panel.gradient {
    width: 112.3em;
  }
}

@media screen and (min-width: 2300px) {
  .video-info-panel.gradient {
    width: 115.3em;
  }
}

@media screen and (min-width: 2350px) {
  .video-info-panel.gradient {
    width: 118.3em;
  }
}

@media screen and (min-width: 2400px) {
  .video-info-panel.gradient {
    width: 121.3em;
  }
}

@media screen and (min-width: 2450px) {
  .video-info-panel.gradient {
    width: 125.3em;
  }
}

@media screen and (min-width: 2500px) {
  .video-info-panel.gradient {
    width: 128.3em;
  }
}

@media screen and (min-width: 2550px) {
  .video-info-panel.gradient {
    width: 131.3em;
  }
}

@media screen and (min-width: 2560px) {
  .video-info-panel.gradient {
    width: 132.3em;
  }
}

@media screen and (min-width: 2600px) {
  .video-info-panel.gradient {
    width: 134.3em;
  }
}

@media screen and (min-width: 2650px) {
  .video-info-panel.gradient {
    width: 137.3em;
  }
}

@media screen and (min-width: 2700px) {
  .video-info-panel.gradient {
    width: 140.3em;
  }
}

@media screen and (min-width: 2750px) {
  .video-info-panel.gradient {
    width: 143.3em;
  }
}

/* RESPONSIVE END */
