/*

   This Source Code Form is subject to the terms of the GNU General Public License:

    Copyright (C) 2021-202x POKETUBE (https://github.com/iamashley0/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.

*/

a.class:hover {
  text-decoration: underline;
  font-weight: bold;
}
summary {
  color: gray;
}
summary:hover {
  color: white;
}
:visited {
  color: #00c0ff;
}

a {
  color: #0ab7f0;
}

.video > .info > .title {
  font-family: "PokeTube flex";
  font-stretch: extra-expanded;
}

.video-info-panel > .video-title > a {
  white-space: nowrap;
}

.video-info-panel > .video-title {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: max-content;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.video-sub-info.description {
  font-weight: 600;
  margin-top: 9.5em !important;
  border-radius: 21px;
  background: #1c1c1c;
  padding: 10px;
  margin-bottom: 20px;
  font-stretch: expanded;
  justify-self: center;
  width: 39em;
  font-family: "PokeTube Flex";
  border: #7c44a0;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  position: static;
}

.video-sub-info.description > .video-title {
  font-family: "PokeTube Flex";
  font-weight: 1000;
  font-stretch: extra-expanded;
  font-size: larger;
}

.recommended-list {
  background-color: #1c1c1c;
  border-radius: 25px;
  margin: 10px;
  margin-right: 10px;
  height: fit-content;
  justify-self: center;
  margin-right: -1.5em;
  width: min-content;
  border: #7c44a0;
  border-style: solid;
}

.video-views {
  white-space: nowrap;
}

.video-info-panel.gradient {
  padding: 12px;
  border-radius: 11px;
  background-image: linear-gradient(
    135deg,
    #f97794 10%,
    #623aa2 100%,
    #8e6f7e 100%
  );
  display: block;
  margin: auto;
  justify-self: left;
  position: absolute;
}

.video-info-pill-channelname {
  color: #fff;
  word-wrap: break-word;
  font-family: "PokeTube Flex";
  font-weight: 1000;
  font-stretch: ultra-expanded;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  display: block ruby;
  text-overflow: ellipsis;
  max-width: 7em;
  white-space: nowrap;
}

.comments-author.owner {
  margin: 5px;
  font-family: inter;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: anywhere;
  white-space: -webkit-pre-wrap;
  word-break: break-all;
  white-space: normal;
  background: #4a4a4a;
  padding: 4px;
  border-radius: 6px;
  width: auto;
  height: 1.2em;
  justify-self: center;
}

.video-chnl-info-pill {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  display: grid;
  grid-template-columns: 48px max-content 1fr min-content;
  grid-template-rows: 16px 16px;
  grid-auto-columns: 1fr;
  column-gap: 8px;
  row-gap: 4px;
  grid-auto-flow: row;
  grid-template-areas: "avatar name . subscribe-button" "avatar subs . subscribe-button";
  padding: 8px;
  border-radius: 35px;
  font-family: Inter;
  clear: both;
  margin-top: 1.1em;
  padding: 4.5px;
  background: #0009;
  margin-right: -13px;
  width: fit-content;
  height: fit-content;
  border-radius: 43px;
  font-size: 15px;
  margin-right: auto;
  display: flex;
  border: none;
}

.video-info-buttons.pill {
  background: #0009;
  border-radius: 16px;
  padding: 4px;
  border-style: none;
  min-height: 34px;
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  height: min-content;
  width: fit-content;
  text-align: right;
  margin-left: auto;
  margin-right: inherit;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  margin-top: -2.9em;
}

.comments-author {
  margin: 7px;
  font-family: inter;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: anywhere;
  white-space: -webkit-pre-wrap;
  word-break: break-all;
  white-space: normal;
}

.comments-class-or-something-i-cant-find-a-name-lol {
  background: #1a1a1a;
  border-radius: 30px;
  padding: 10px;
  padding-top: 0;
  margin: auto;
  border: #7c44a0;
  border-style: solid;
}

.subscribe-button {
  color: red;
  margin: auto;
  background: white;
  border-radius: 2em;
  margin-right: 6px;
  text-transform: initial;
}

.subscribe-button > a {
  color: black;
}

.video > .thumbnail > .video-length {
  font-size: smaller;
  background-color: #0008;
  color: #fff;
  padding: 2px;
  border-radius: 3px;
  font-family: PokeTube Flex;
  font-stretch: 100%;
  font-weight: 600;
}
