 <% if (!isMobile) { %> 
<!--

    This Source Code Form is subject to the terms of the GNU General Public License:

    Copyright (C) 2021-2022 POKETUBE (https://github.com/iamashley0/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.

-->
<!DOCTYPE html>
<html class="poketube_desktop">
<head>
    <% if (e === false) { %> <!-- if ?e=false, dont show up the meta tags  -->
    
 <% } %>
  <% if (!e) { %>
<meta content="<%=video.Title%>" name=title>
<meta content="<%=color%>" name="theme-color">
<meta content="<%=video.Channel.Name%>" name=twitter:author>
<meta content=@youtube name=twitter:site>
<meta content="https://poketube.fun/watch?v=<%=video.id%>" name=twitter:url>
<meta content="<%=video.Title%> - PokeTube" name=twitter:title>
<meta content="Watch this video by <%=video.Channel.Name%> On PokeTube. The YouTube front-end that doesnt track you!" property=twitter:description>
<meta content="https://i.ytimg.com/vi/<%=video.id%>/maxresdefault.jpg" property=og:image>
<meta content=summary_large_image name=twitter:card>
<link href="https://poketube.fun/watch?v=<%=video.id%>" itemprop=url>
<link href="http://www.youtube.com/channel/<%=video.Channel.id%>" itemprop=url>
 <% } %> <!-- close the } -->
<link href="/css/yt-ukraine.svg" rel=icon>
<title> <%=video.Title%> - PokeTube </title>  
<style>
 
  .comments-area {
  background: #f1f9ff;
  padding: 50px 30px;
  margin-top: 50px;
}

@media (max-width: 414px) {
  .comments-area {
    padding: 50px 8px;
  }
}

.comments-area h4 {
  text-align: center;
  margin-bottom: 50px;
  color: #002347;
  font-size: 18px;
}

.comments-area h5 {
  font-size: 16px;
  margin-bottom: 0px;
}

.comments-area a {
  color: #002347;
}

.comments-area .comment-list {
  padding-bottom: 30px;
}

.comments-area .comment-list:last-child {
  padding-bottom: 0px;
}

.comments-area .comment-list.left-padding {
  padding-left: 25px;
}

@media (max-width: 413px) {
  .comments-area .comment-list .single-comment h5 {
    font-size: 12px;
  }
  .comments-area .comment-list .single-comment .date {
    font-size: 11px;
  }
  .comments-area .comment-list .single-comment .comment {
    font-size: 10px;
  }
}

.comments-area .thumb {
  margin-right: 20px;
}

.comments-area .date {
  font-size: 13px;
  color: #777777;
  margin-bottom: 13px;
}

.comments-area .comment {
  color: #777777;
  margin-bottom: 0px;
}

.comments-area .btn-reply {
  background-color: #fff;
  color: #002347;
  border: 1px solid #eee;
  padding: 2px 18px;
  font-size: 12px;
  display: block;
  font-weight: 600;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.comments-area .btn-reply:hover {
  background: #fdc632;
  color: #002347;
}

.comment-form {
  background: #f1f9ff;
  text-align: center;
  padding: 47px 30px 43px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.comment-form h4 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 22px;
  color: #002347;
}

.comment-form .name {
  padding-left: 0px;
}

@media (max-width: 767px) {
  .comment-form .name {
    padding-right: 0px;
    margin-bottom: 1rem;
  }
}

.comment-form .email {
  padding-right: 0px;
}

@media (max-width: 991px) {
  .comment-form .email {
    padding-left: 0px;
  }
}
   
.comment-form .form-control {
  padding: 8px 20px;
  background: #fff;
  border: none;
  border-radius: 0px;
  width: 100%;
  font-size: 14px;
  color: #777777;
  border: 1px solid transparent;
}

.comment-form .form-control:focus {
  box-shadow: none;
  border: 1px solid #eee;
}

.comment-form textarea.form-control {
  height: 140px;
  resize: none;
}

.comment-form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 15px;
  color: #777;
}

.comment-form ::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 15px;
  color: #777;
}

.comment-form :-ms-input-placeholder {
  /* IE 10+ */
  font-size: 15px;
  color: #777;
}

.comment-form :-moz-placeholder {
  /* Firefox 18- */
  font-size: 15px;
  color: #777;
}
  .description{
      white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;

  }
  
  .desc {
       white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
  }
   </style>
 
  <link href=/css/app-cdn.min.css rel=stylesheet>
  <link href=/css/app.main.css rel=stylesheet>
  <link href="/css/watch.main.css?v=56" rel=stylesheet>
  <link href="/css/watch-util.css" rel=stylesheet>
  <link href="https://fonts.poketube.fun/css/fonts.css" rel=stylesheet>
  <link href="/css/watch-navbar.css?v=56" rel=stylesheet>
  <link href="/css/poketube.css?v=56" rel=stylesheet>
   <link href="/css/poketube-responsive.css?v=56" rel=stylesheet>

  <!-- ICONS -->
  
  <link href=https://p.poketube.fun/https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css rel=stylesheet>
  <link href=https://p.poketube.fun/https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.css rel=stylesheet>

   </head>
   
   
  <body>
    
<div class="app" style="color:#fff">
    
            
    <nav>
                  <div class=left>

                  <% if (inv_vid.genre != "Music") { %> 

              <a class="class" href="/143" style=font-family:Inter,sans-serif;color:#fff>  <img style="transform: scale(1.3);padding-left:0.9em;width: 8.5em;display: block;margin-left: auto;margin-right: auto;" src="/css/logo.svg?v=5"></a>
                      		 	               <% } %>   
     <% if (inv_vid.genre === "Music") { %> 

              <a class="class" href="/143" style=font-family:Inter,sans-serif;color:#fff>  <img style="transform: scale(1.3);padding-left:0.9em;width: 7.5em;display: block;margin-left: auto;margin-right: auto;" src="/css/music.svg?v=5"></a>
                      		 	               <% } %>   
            </div>               
       <div class="middle">
        <form action=/search><input class=search-bar autocomplete="on" id=fname name=query style="color:#fff;font-family:Inter,sans-serif;border-radius: 8px;">
          <button class="btn btn-success" type=submit><i class="fa-light fa-search"></i></button>
             
         </form>
          <img src="https://search-metrics.poketube.fun/t/rep.gif"  style="border:0;width: 0;visibility: hidden;"> 

      </div>
      <div class="right">
      <a href="/privacy" style="text-decoration: none;" title="Privacy Policy">
          <i style="display: block;margin-left: auto;margin-right: auto;" class="fa-light fa-shield"></i>
        </a>
        <a href="/video/upload" style="text-decoration: none;" title="Upload Video">
          <i style="display: block;margin-left: auto;margin-right: auto;" class="fa-light fa-video"></i>
        </a>
    
        <a href="/embed/<%=video.id%>" style="text-decoration: none;" title="Embed">
          <i style="display: block;margin-left: auto;margin-right: auto;" class="fa-light fa-code"></i>
        </a>                                   
        
      </div>
    </nav>

 
 <div class="watch-page">

 	<div class="primary">
       
		<div class="video-player-container">
  
<video class="player" id="<%=sha384(video.id)%>" style="border-radius: 16px;" autoplay controls   
       
       poster="https://p.poketube.fun/https://i.ytimg.com/vi/<%=video.id%>/maxresdefault.jpg?v=607ddcd4">
        
             
                  <% if (!qua) { %>  


                     
                                                <source src="https://tube.kuylar.dev/proxy/media/<%=video.id%>/22" type="video/mp4; codecs=&quot;avc1.64001F, mp4a.40.2&quot;" label="hd720" selected="false">

                                                                             <% } %>                

      <% if (qua === "medium") { %>  

                                                <source src="https://tube.kuylar.dev/proxy/media/<%=video.id%>/18" type="video/mp4; codecs=&quot;avc1.64001F, mp4a.40.2&quot;" label="hd720" selected="false">
        
                                                                           <% } %>                

                        
    <% if (  video.Subtitles.Subtitle) { %>  
     <%  if (Array.isArray( video.Subtitles.Subtitle)) { %> 
   <% video.Subtitles.Subtitle.forEach(x => { %>
     <track src="/api/subtitles?v=<%=video.id%>&h=<%= x.language %>" label="<%= x.language.replace("United States","Simplified - USA") %>" kind="subtitles">      
     
        <img src="https://t.poketube.fun/t/rep.gif?v=<%=btoa(video.id)%>&h=<%= x.language %>" id="subtitle_usage_rate" style="border:0;width: 0;visibility: hidden;"> 
         <% }) %>   
                                                                                                       <% } %>               
                                                           <% } %>                
 					</video><img src="https://t.poketube.fun/t/rep.gif?video=<%=btoa(video.id)%>" style="border:0;width: 0;visibility: hidden;" id="video">
<div style="display: flex;justify-content: center;align-items: center;flex-direction: row; column-gap: 3px;" align="center">
                                
  <% if (!qua) { %> 

                                 <i style="display: block;" title="High Definition [Current]" class="fa-solid fa-high-definition"></i> <a href="/watch?v=<%=video.id%>&quality=medium"><i style="display: block;" title="Standard Definition" class="fa-light fa-standard-definition"></i></a>
                                                                      <% } %>               
                               <% if (qua) { %> 
                                 <a href="/watch?v=<%=video.id%>">  <i style="display: block;"  title="High Definition" class="fa-light fa-high-definition"></i> </a>  <i style="display: block;" title="Standard Definition [Current]"  class="fa-solid fa-standard-definition"></i>

                                                                      <% } %>               

       </div>
                                 
       </div>
                                                            <br>
			<div class="video-info">           
        	<div class="video-info-panel gradient">  
            <div class="video-title" style="font-family:Inter;font-weight:bold;line-break: auto;max-width: max-content;margin: 0;margin-bottom: 0;padding: 0;" title="<%=video.Title%>"><%=video.Title%> </div>
          
          <a href="#metadata" style="font-weight: bolder;font-family: sans-serif;color: #fff;font-size: small;"> <%=convert(engagement.viewCount)%> Views - View More Metadata</a>
         
               <div class="video-chnl-info-pill"  name="chnl">
  <a name="chnl"></a>

				<a href="/channel?id=<%=video.Channel.id%>" class="avatar">
					<img src="https://p.poketube.fun/<%= k.Video.Channel.Avatar[1].$t %>">
				</a>
				<div class="name" >
 
         <div>
						<a title="<%=k.Video.Channel.Name%> " class="video-info-pill-channelname">  <%=k.Video.Channel.Name%> 
              </a>   
            
              <% if (!video.Channel.Name.endsWith(' - Topic')) { %>  
               <% if (badges) { %> 
              <% if (badges.tooltip === "Verified") { %> 
<i class="fa-solid fa-badge-check" title="<%=badges.tooltip%>"></i>
            <% } %>  <% if (badges.tooltip === "Official Artist Channel") { %> 
<i class="fa-solid fa-music-note" title="<%=badges.tooltip%>"></i>  
             <% } %>             <% } %>  <% } %> 

               
              </div>
               
                              
<div class="subscriber-count" style="word-wrap: initial;word-break: break-all;display: block ruby;">
          <%= k.Video.Channel.subscriberCount.replace("subscribers", "Subs") %>
 				</div>
               

				</div>
	 
				<button class="subscribe-button"><a href="https://www.youtube.com/channel/<%=video.Channel.id%>?view_as=subscriber?sub_confirmation=1">Suscribe</a></button>
			</div>
               
                     <div>
<div class="video-info-buttons pill" >
  
  
 					<div title="<%=engagement.likes.toLocaleString()%> Likes">
  <i class="fa-light fa-thumbs-up"></i>
     <%=convert(engagement.likes)%>
          </div>
					<div title="<%=engagement.dislikes.toLocaleString()%> Dislikes">
<i class="fa-light fa-thumbs-down"></i> <%=convert(engagement.dislikes)%>
					</div>

         
            <div>

					<a title="Download this Video :3" style="color:#fff;text-decoration: none; " href="/download?v=<%=video.id%>">
            <i class="fa-light fa-download"></i>
            Download
					</a>
 
   
 <% if (!video.Channel.Name.endsWith(' - Topic')) { %> 
    <% if (!video.Title.endsWith('Audio)')) { %> 

					<a title="Encryption duh" style="color:#fff;text-decoration: none;" href="/encryption?v=<%=video.id%>">
               <i class="fa-light fa-shield"></i>
                Encryption
   </a>
                                                                          <% }%>                                                                              <% }%>      
  
                                                                             <% if (video.Channel.Name.endsWith(' - Topic') || video.Title.endsWith('Audio)')) { %> 
                                                            
                            <% if (video.Channel.Name.endsWith(' - Topic') || video.Title.endsWith('Audio)'))  { %> 
                                                 					<a title="open this song in poketube music player :3" style="color:#fff;text-decoration: none;" href="/music?v=<%=video.id%>">
          <i class="fa-light fa-music"></i>
                  Open In Music Player
                                                 </a>

                                                                       <% }%>                     
                                                                          <% }%>      
    
                  					</div>
    

 
				</div>

              			</div>

               			</div>
                    
                                           
<div class="video-sub-info description">

  <div class="video-title" style="color:#fff;font-family:'PokeTube Flex';font-weight:1000;font-stretch: extra-expanded;margin-top: 3px;margin-bottom: 10px;">Description</div>
 <hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;/*! width: 4.5em; */height: 0;">
  
     <% if (String(video.Description) != "[object Object]")  { %>

              <%-String(inv_vid.descriptionHtml).replace(/\n/g, " <br> ").replace(/twitter\.com/g, "nitter.net").replace(/reddit\.com/g, "teddit.net") %>
                
                          <% } %>          
                            
    <% if (String(video.Description) == "[object Object]")  { %>
      <p> No Description On this Video ( sad innit :c )</p>
                          <% } %>               

                   <% if (wiki.extract_html) { %> 
<div class="video-title" style="color:#fff;font-family:'PokeTube Flex';font-weight:1000;font-stretch: extra-expanded;margin-top: 10px;margin-bottom: 10px;">From da web</div>
                     
<hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;/*! width: 4.5em; */height: 0;">

  <%-wiki.extract_html%>
   
<p style="margin-bottom: 10px;">

  <a href=" <%-wiki.content_urls.desktop.page%>
 ">From wikipedia </a> under CC-BY-SA 3.0
                     </p>
 
                 
                     </p>
                     <% } %> 
                       <a id="metadata"></a>
                           <div class="video-title" style="color:#fff;font-family:'PokeTube Flex';font-weight:1000;font-stretch: extra-expanded;margin-top: 10px;margin-bottom: 10px;">Metadata And Engagement</div>
 <hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;/*! width: 4.5em; */height: 0;">

     <p  style="font-weight: bold;">
 
                    <span>Views : <%=engagement.viewCount.toLocaleString()%> <br>
                        Genre: <%-inv_vid.genre %>  <br>

                      Upload date:  <%=date%> ^^ <br>
                       <hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;/*! width: 4.5em; */height: 0;">
                   Rating  :  <%=engagement.rating.toLocaleString()%> (<%=engagement.dislikes.toLocaleString()%>/<%=engagement.likes.toLocaleString()%> LTDR) <br>
                      RYD date created : <%=engagement.dateCreated.toLocaleString()%>  <br>
                      <a href="https://returnyoutubedislikeapi.com/votes?videoId=<%=video.id%>">See in json</a>
                      </span> 
                      
                       </p>
                   
 
                         <div>
                           <hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;/*! width: 4.5em; */height: 0;">

                           
                           
                       </div>
                       

 				</div>
                     
                   
                     <div style="display:none;">
<div class="video-pill-buttons">
  
  
 					<div title="<%=engagement.likes.toLocaleString()%> Likes">
  <i class="fa-light fa-thumbs-up"></i>
     <%=convert(engagement.likes)%>
          </div>
					<div title="<%=engagement.dislikes.toLocaleString()%> Dislikes">
<i class="fa-light fa-thumbs-down"></i> <%=convert(engagement.dislikes)%>
					</div>

         
            <div>

					<a title="Download this Video :3" style="color:#fff;text-decoration: none; " href="/download?v=<%=video.id%>">
            <i class="fa-light fa-download"></i>
            Download
					</a>
 
   
 <% if (!video.Channel.Name.endsWith(' - Topic')) { %> 
    <% if (!video.Title.endsWith('Audio)')) { %> 

					<a title="Encryption duh" style="color:#fff;text-decoration: none;" href="/encryption?v=<%=video.id%>">
               <i class="fa-light fa-shield"></i>
                Encryption
   </a>
                                                                          <% }%>                                                                              <% }%>      
  
                                                                             <% if (video.Channel.Name.endsWith(' - Topic') || video.Title.endsWith('Audio)')) { %> 
                                                            
                            <% if (video.Channel.Name.endsWith(' - Topic') || video.Title.endsWith('Audio)'))  { %> 
                                                 					<a title="open this song in poketube music player :3" style="color:#fff;text-decoration: none;" href="/music?v=<%=video.id%>">
          <i class="fa-light fa-music"></i>
                  Open In Music Player
                                                 </a>

                                                                       <% }%>                     
                                                                          <% }%>      
    
                  					</div>
    

 
				</div>

              			</div>
                          
			</div>

               <div style="display:none;">
                
                             </div>


 
 
                                                 
                                                                                                                                           <%  if (inv.comments) { %> 
                                                                                                                                                                              <div class="comments">                                                                   

<div class="comments-class-or-something-i-cant-find-a-name-lol">
  
                                                 <h5 style="font-family:'PokeTube Flex';font-weight:1000;white-space:yes;font-stretch: ultra-expanded;margin-bottom: 11px;margin-top: 6px;padding-top: 10px;">
                                                   Comments <span style="font-family: inter;font-weight: 900;text-transform: lowercase;margin: 1px;">- <%- convert(inv.commentCount) %></span>
                                                   </h5> 
                                                     
                                            <p style="padding: 0;margin: 0;font-family: Inter;margin-bottom: 10px;">
     Top Comments are being randered rn :3 all comments are soon!
  </p>              
                                                                                       <hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;margin: 0 0;/*! width: 4.5em; */height: 0;">
                                                      
                                 <% inv.comments.forEach(x =>{ %>
 <div class="<%- x.commentId %>.<%- btoa(x.commentId) %>">
                                   <div class="comment_<%- x.commentId %>_<%- btoa(btoa(x.commentId)) %>" style="padding: 10px;">

          <div class="comment-list left-padding" style="background: #333;padding-top: 1px;padding: 10px;border-radius: 30px;padding-top: 0;">
        <div class="single-comment justify-content-between d-flex" style="padding-top: none;">
          <div class="user justify-content-between d-flex">
            <div class="desc">
                   <h5 style="display: flex;margin-top: 7px;padding-top: 10px;"><div class="thumb">
				<a href="/channel?id=<%- x.authorId%>" class="avatar" style="width: 40px;height: 40px;">
					<img src="https://p.poketube.fun/<%= x.authorThumbnails[1].url %>">
				</a>
            </div>
                                                          <%  if (!x.authorIsChannelOwner) { %> 

                <p class="comments-author">
                  				<a href="/channel?id=<%- x.authorId%>" style="color: #fff;text-decoration: none;" >

                <%- x.author%> 
                  </a>
                            
                                <%  if (x.verified) { %> 
                                                              
                                                                   <i class="icon ion ion-md-checkmark-circle"></i>
                                  
                                                                                                <% } %>   

                  
                  </p>                                                                <% } %>   

                                          <%  if (x.authorIsChannelOwner) { %> 
                               <p class="comments-author owner">
 
                  				<a href="/channel?id=<%- x.authorId%>" style="color: #fff;text-decoration: none;" >

                                <%- x.author%> 
                  </a>
                                  
                                                            <%  if (x.verified) { %> 
                                                              
                                                                   <i class="icon ion ion-md-checkmark-circle"></i>
                                                                                                <% } %>   
                                                                                                  
                                                                                                <% } %>   

                  
                  </p>

              </h5>
              <p class="comment" style="font-weight: bold;">
                <%- x.contentHtml %>
                <br> <br>
                  <span><%- x.publishedText %> - <%- convert(x.likeCount) %> Likes <%   if(x.creatorHeart) { %> 

                <i class="icon ion-ios-heart creator-heart-small-container" title="<%= x.creatorHeart.creatorName%> marked it with a ❤ owo"></i>
        </span>   
  
                                                                <% } %>   
              </p>
            </div>
          </div>
        </div>
      </div>
                          
 
                                                              </div>
                              <!-- This is to see how much comments loaded in a video, i dont collect the comment metadata - its sha hashed (see /privacy ) -->
                                         <img src="https://t.poketube.fun/t/rep.gif?v=<%=sha384(video.id)%>&pub_date=<%-sha384(x.publishedText)%>&content_comment_sha=<%- sha384(x.content)%>&id=<%- sha384(x.commentId) %>" id="comments_rate" style="border:0;width: 0;visibility: hidden;display:none;"> 

                            </div>

                                                                        <% }) %>   


          </div>
         </div>


                                                       <% } %>

                                
                 <% if(!inv.comments) { %>  
                   </div>                                       

                                                         <% } %>


                      <% if(inv.comments) { %>  
                   </div>                                       

                                                         <% } %>



                  
<div class="recommended-list" align="center">
    
             

                              <% if (!r) { %> 
 
 <div class="video-title" style="text-align:left;font-family:'PokeTube Flex';font-weight:1000;white-space:yes;font-stretch: extra-expanded;">                                  Recommendations
                                </div>   
                                <hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;margin: 0 0;/*! width: 4.5em; */height: 0;">
                                            
                              <% if (!f) { %> 
     <% k.Video.Recommendations.Video.forEach(x => { %>       
 						<div class="video" >
                    <% if (!optout) { %> 

      <a  href="/watch?v=<%= x.id %>" class="thumbnail" style="background-image: url('https://p.poketube.fun/https://i.ytimg.com/vi/<%= x.id %>/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBy_x4UUHLNDZtJtH0PXeQGoRFTgw');border-radius: 9.5px;"  >								<span class="video-length"><%=x.duration %></span>
                           <% } %>
   <% if (optout) { %> 

      <a  href="/watch?v=<%= x.id %>&t=f" class="thumbnail" style="background-image: url('https://p.poketube.fun/https://i.ytimg.com/vi/<%= x.id %>/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBy_x4UUHLNDZtJtH0PXeQGoRFTgw');border-radius: 9.5px;"  >								<span class="video-length"><%=x.duration %></span>
                           <% } %>
							</a>
							<div class="info">
                
      <% if (!optout) { %> 
								<a href="/watch?v=<%= x.id %>" class="title max-lines-2" title="<%= x.Title %>" style="font-stretch: 100%;font-weight: 800;"><%= x.Title %></a>
                   <% } %>
   <% if (optout) { %> 
								<a href="/watch?v=<%= x.id %>&t=f" class="title max-lines-2" title="<%= x.Title %>" style="font-stretch: 100%;font-weight: 800;"><%= x.Title %></a>
                   <% } %>
								<div>
               <a class="max-lines-2" href="/channel?id=<%= x.Channel.id %>"><%=x.Channel.Name %></a>
									<div class="video-views">  <%= x.uploadedAt %> • <%= convert(x.views) %> views </div>
								</div>
							</div>
						</div>
 
       <% }) %>   
                            <% } %>
 
     <% if (f) { %> 

     <% tj.Contents.ItemSection.Video.forEach(x => { %>       
 						<div class="video">
                    <% if (!optout) { %> 

      <a  href="/watch?v=<%= x.id %>" class="thumbnail" style="background-image: url('https://p.poketube.fun/https://i.ytimg.com/vi/<%= x.id %>/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBy_x4UUHLNDZtJtH0PXeQGoRFTgw');border-radius: 9.5px;"  >								<span class="video-length"><%=x.duration %></span>
                           <% } %>
   <% if (optout) { %> 

      <a  href="/watch?v=<%= x.id %>&t=f" class="thumbnail" style="background-image: url('https://p.poketube.fun/https://i.ytimg.com/vi/<%= x.id %>/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBy_x4UUHLNDZtJtH0PXeQGoRFTgw');border-radius: 9.5px;"  >								<span class="video-length"><%=x.duration %></span>
                            <% } %>
							</a>
							<div class="info">
       <% if (!optout) { %> 
								<a href="/watch?v=<%= x.id %>" class="title max-lines-2" title="<%= x.Title %>"><%= x.Title %></a>
                   <% } %>
   <% if (optout) { %> 
								<a href="/watch?v=<%= x.id %>&t=f" class="title max-lines-2" title="<%= x.Title %>"><%= x.Title %></a>
                   <% } %>
								<div>
               <a class="max-lines-2" href="/channel?id=<%= video.Channel.id %>"><%=video.Channel.Name %></a>
									<div>
 <%= x.uploadedAt %> • <%= convert(x.views) %> views</div>
								</div>
							</div>
						</div>
 
       <% }) %>   
                            <% } %>
                                                          <% } %>

                                                            
      	           <% if (lyrics) { %>
                                                  <% if (r === "f") { %> 
                                <hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;margin: 0 0;/*! width: 4.5em; */height: 0;">
                                                    <div>
            <a href="/watch?v=<%=video.id%>">See the Recommended videos instead</a> - <a href="https://github.com/iamashley0/poketube/issues">Report wrong lyrics qwq</a>
                                                    </div>
         <div align="center">                                <hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;margin: 0 0;/*! width: 4.5em; */height: 0;">

                                                             <h1 style="font-family:'Ginto Nord',sans-serif;font-weight:900;white-space:yes;" align="center">
 Lyrics 
                        </h1>  
           <p>
 See how our lyrics search works:<a href="https://github.com/iamashley0/poketube/blob/main/src/lyrics.js">Here</a>
           </p>
                        <p style="color: white;">
                                        <p style=color:#fff>
                                            <%-lyrics%>
                                        </p> 
                                                                      <% } %>

                                        <% } %>                                      </details>
    <div style="font-family:Inter,sans-serif;font-weight:900;white-space:yes;" align="center">
                                 <hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;margin: 0 0;/*! width: 4.5em; */height: 0;">
<br>
       <a href="https://youtube.com/watch?v=<%=video.id%>">Open On YouTube</a> • <a href="/privacy">Privacy</a> • <a href="https://github.com/iamashley0/poketube/">Git</a> 
       </div> 
                                                                        
               
      <% if (optout) { %> 
        
 <% } %>
     
      <% if (!optout) { %> 
        
                  <div style="font-family:Inter,sans-serif;font-weight:900;white-space:yes;" align="center">

<a href="/watch?v=<%=video.id%>&t=f"> 
 Opt out of Metrics</a> (<a href="/privacy" style="color:#fff">Wut?</a>)
               
   </div>
     <% } %>
            

            	           <% if (lyrics && !r) { %>
                                             <div style="font-family:Inter,sans-serif;font-weight:900;white-space:yes;" align="center">

      <% if (optout) { %> 
     <a href="/watch?v=<%=video.id%>&r=f">Lyrics (Wow)</a>


  <% } %> 
         <% if (!optout) { %> 
                       <a href="/watch?v=<%=video.id%>&r=f">Lyrics (Wow)</a>
 <% } %>
                    </div>
                           <% } %> 
                     </div>
 
	</div>  
 
   
 <% if (!optout) { %> 
          <!-- MORE INFO :https://poketube.fun/privacy -->
          <!-- MORE INFO :https://poketube.fun/privacy -->
       
          <!-- if you want to change the url - please see config in server.js  -->
        
         <!-- START <%=t%> -->  
   
        <!-- SESSION -->
        <img src="<%=t%>t/rep.gif?ID=<%=btoa(Date.now())%>" style="width: 0;visibility: hidden;" id="SesionID">
        <img src="<%=t%>t/rep.gif?piwik=t" style="width: 0;visibility: hidden;" id="piwik_noip_no_personal-info_collect">
   
        <!-- VIDEO -->
        <img src="<%=t%>t/rep.gif?video_id=<%=btoa(video.id)%>" style="width: 0;visibility: hidden;" id="videoID">
        <img src="<%=t%>t/rep.gif?channel_ID=<%=btoa(video.Channel.id)%>" style="width: 0;visibility: hidden;" id="channel">
   

        <!-- END <%=t%> -->  

 <% } %>
</div>
 
</body>
</html>

  <% } %>

     <% if (isMobile) { %> 
     <% if (isMobile) { %> 

     <!--
    This Source Code Form is subject to the terms of the GNU General Public License:

    Copyright (C) 2021-2022 POKETUBE (https://github.com/iamashley0/poketube)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
-->
<!DOCTYPE html>
  <% if (e === false) { %> <!-- if ?e=false,dont show up the meta tags  -->
    
 <% } %>
  <% if (!e) { %>
<meta content="<%=video.Title%>" name=title>
<meta content="<%=color%>" name="theme-color">
<meta content="<%=video.Channel.Name%>" name=twitter:author>
<meta content=@youtube name=twitter:site>
<meta content="https://poketube.fun/watch?v=<%=video.id%>" name=twitter:url>
<meta content="<%=video.Title%> - PokeTube" name=twitter:title>
<meta content="mobile this video by <%=video.Channel.Name%> On PokeTube. The YouTube front-end that doesnt track you!" property=twitter:description>
<meta content="https://i.ytimg.com/vi/<%=video.id%>/maxresdefault.jpg" property=og:image>
<meta content=summary_large_image name=twitter:card>
<link href="https://poketube.fun/watch?v=<%=video.id%>" itemprop=url>
 <% } %> <!-- close the } -->
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href=/css/yt-ukraine.svg?v=6 rel=icon>
<title> <%=video.Title%> - PokeTube Mobile</title>
<link href="https://p.poketube.fun/https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel=stylesheet>
 <link href="https://p.poketube.fun/https://tube.kuylar.dev/css/mobile.css" rel=stylesheet>
 <link href=/css/app.main.css rel=stylesheet>
<link href="https://p.poketube.fun/https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Sigmar+One&display=swap" rel=stylesheet>
    <link href=https://p.poketube.fun/https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.css rel=stylesheet>

    <link href=https://p.poketube.fun/https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css rel=stylesheet>
<style>
   a.class:hover {
    text-decoration:underline;
    font-weight:bold
}
  summary{
    color:gray;
}
summary:hover{
    color:white;
}
</style>
  <!-- WIGGLE WIGGLE WIGGLE -->
  <style>
    
    
    
    body{
         max-width: 100%;
        overflow-x: hidden; /* Hide horizontal scrollbar */
        color:#111111
    }
    html, body {
  overflow-x: hidden;
}
body {
  position: relative
}
   .animated {
            -webkit-animation-duration: 10s; 
            animation-duration: 10s; 
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both; 
            animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
            -o-animation-iteration-count: infinite;
         }
             .v-chip:not(.v-chip--outlined).accent,
.v-chip:not(.v-chip--outlined).error,
.v-chip:not(.v-chip--outlined).info,
.v-chip:not(.v-chip--outlined).primary,
.v-chip:not(.v-chip--outlined).secondary,
.v-chip:not(.v-chip--outlined).success,
.v-chip:not(.v-chip--outlined).warning {
 color:#fff
}
.theme--light.v-chip {
 border-color:rgba(0,0,0,.12);
 color:rgba(0,0,0,.87)
}
.theme--light.v-chip:not(.v-chip--active) {
 background:#e0e0e0
}
.theme--light.v-chip:hover:before {
 opacity:.04
}
.theme--light.v-chip--active:before,
.theme--light.v-chip--active:hover:before,
.theme--light.v-chip:focus:before {
 opacity:.12
}
.theme--light.v-chip--active:focus:before {
 opacity:.16
}
.theme--dark.v-chip {
 border-color:hsla(0,0%,100%,.12);
 color:#fff
}
.theme--dark.v-chip:not(.v-chip--active) {
 background:#555
}
.theme--dark.v-chip:hover:before {
 opacity:.08
}
.theme--dark.v-chip--active:before,
.theme--dark.v-chip--active:hover:before,
.theme--dark.v-chip:focus:before {
 opacity:.24
}
.theme--dark.v-chip--active:focus:before {
 opacity:.32
}
.v-chip {
 align-items:center;
 cursor:default;
 display:inline-flex;
 line-height:20px;
 max-width:100%;
 outline:none;
 overflow:hidden;
 padding:0 12px;
 position:relative;
 text-decoration:none;
 transition-duration:.28s;
 transition-property:box-shadow,opacity;
 transition-timing-function:cubic-bezier(.4,0,.2,1);
 vertical-align:middle;
 white-space:nowrap
}
.v-chip:before {
 background-color:currentColor;
 bottom:0;
 border-radius:inherit;
 content:"";
 left:0;
 opacity:0;
 position:absolute;
 pointer-events:none;
 right:0;
 top:0
}
.v-chip .v-avatar {
 height:24px!important;
 min-width:24px!important;
 width:24px!important
}
.v-chip .v-icon {
 font-size:24px
}
.v-application--is-ltr .v-chip .v-avatar--left,
.v-application--is-ltr .v-chip .v-icon--left {
 margin-left:-6px;
 margin-right:6px
}
.v-application--is-ltr .v-chip .v-avatar--right,
.v-application--is-ltr .v-chip .v-icon--right,
.v-application--is-rtl .v-chip .v-avatar--left,
.v-application--is-rtl .v-chip .v-icon--left {
 margin-left:6px;
 margin-right:-6px
}
.v-application--is-rtl .v-chip .v-avatar--right,
.v-application--is-rtl .v-chip .v-icon--right {
 margin-left:-6px;
 margin-right:6px
}
.v-chip:not(.v-chip--no-color) .v-icon {
 color:inherit
}
.v-chip .v-chip__close.v-icon {
 font-size:18px;
 max-height:18px;
 max-width:18px;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}
.v-application--is-ltr .v-chip .v-chip__close.v-icon.v-icon--right {
 margin-right:-4px
}
.v-application--is-rtl .v-chip .v-chip__close.v-icon.v-icon--right {
 margin-left:-4px
}
.v-chip .v-chip__close.v-icon:active,
.v-chip .v-chip__close.v-icon:focus,
.v-chip .v-chip__close.v-icon:hover {
 opacity:.72
}
.v-chip .v-chip__content {
 align-items:center;
 display:inline-flex;
 height:100%;
 max-width:100%
}
.v-chip--active .v-icon {
 color:inherit
}
.v-chip--link:before {
 transition:opacity .3s cubic-bezier(.25,.8,.5,1)
}
.v-chip--link:focus:before {
 opacity:.32
}
.v-chip--clickable {
 cursor:pointer;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}
.v-chip--clickable:active {
 box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)
}
.v-chip--disabled {
 opacity:.4;
 pointer-events:none;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}
.v-chip__filter {
 max-width:24px
}
.v-chip__filter.v-icon {
 color:inherit
}
.v-chip__filter.expand-x-transition-enter,
.v-chip__filter.expand-x-transition-leave-active {
 margin:0
}
.v-chip--pill .v-chip__filter {
 margin-right:0 16px 0 0
}
.v-chip--pill .v-avatar {
 height:32px!important;
 width:32px!important
}
.v-application--is-ltr .v-chip--pill .v-avatar--left {
 margin-left:-12px
}
.v-application--is-ltr .v-chip--pill .v-avatar--right,
.v-application--is-rtl .v-chip--pill .v-avatar--left {
 margin-right:-12px
}
.v-application--is-rtl .v-chip--pill .v-avatar--right {
 margin-left:-12px
}
.v-chip--label {
 border-radius:4px!important
}
.v-chip.v-chip--outlined {
 border-width:thin;
 border-style:solid
}
.v-chip.v-chip--outlined.v-chip--active:before {
 opacity:.08
}
.v-chip.v-chip--outlined .v-icon {
 color:inherit
}
.v-chip.v-chip--outlined.v-chip.v-chip {
 background-color:transparent!important
}
.v-chip.v-chip--selected {
 background:transparent
}
.v-chip.v-chip--selected:after {
 opacity:.28
}
.v-chip.v-size--x-small {
 border-radius:8px;
 font-size:10px;
 height:16px
}
.v-chip.v-size--small {
 border-radius:12px;
 font-size:12px;
 height:24px
}
.v-chip.v-size--default {
 border-radius:16px;
 font-size:14px;
 height:32px
}
.v-chip.v-size--large {
 border-radius:27px;
 font-size:16px;
 height:54px
}
.v-chip.v-size--x-large {
 border-radius:33px;
 font-size:18px;
 height:66px
}
         @-webkit-keyframes wiggle { 
            0% { -webkit-transform: skewX(9deg); }
            10% { -webkit-transform: skewX(-8deg); }
            20% { -webkit-transform: skewX(7deg); }
            30% { -webkit-transform: skewX(-6deg); }
            40% { -webkit-transform: skewX(5deg); } 
            50% { -webkit-transform: skewX(-4deg); } 
            60% { -webkit-transform: skewX(3deg); }
            70% { -webkit-transform: skewX(-2deg); } 
            80% { -webkit-transform: skewX(1deg); } 
            90% { -webkit-transform: skewX(0deg); }
            100% { -webkit-transform: skewX(0deg); } 
         }
         
         @keyframes wiggle { 
            0% { transform: skewX(9deg); } 
            10% { transform: skewX(-8deg); } 
            20% { transform: skewX(7deg); } 
            30% { transform: skewX(-6deg); } 
            40% { transform: skewX(5deg); } 
            50% { transform: skewX(-4deg); } 
            60% { transform: skewX(3deg); } 
            70% { transform: skewX(-2deg); } 
            80% { transform: skewX(1deg); } 
            90% { transform: skewX(0deg); } 
            100% { transform: skewX(0deg); } 
         }
         
         .wiggle { 
            -webkit-animation-name: wiggle;
            animation-name: wiggle; 
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; 
         }
         
         .animated.wiggle { 
            -webkit-animation-duration: 0.75s; 
            animation-duration: 0.75s;
         }
    
    :root {
    --text-primary: #fff;
    --text-secondary: #fff;
    --text-link: #3ea6ff;

    --app-background: #0A0101;
    --context-menu-background: #333;
    --border-color: #444;
    --item-hover-background: #373737;
    --item-active-background: #383838;

    --top-bar-background: #202020;
    --guide-background: #212121;

    --thumbnail-background: #252525;

    --channel-info-background: #181818;
    --channel-contents-background: #0f0f0f;
}
          @font-face {
        font-family: 'Ginto Nord';
        font-weight: 800;
        src:url('https://p.poketube.fun/https://cdn.statically.io/gh/brecert/discord-quote-generator/main/Ginto-Nord-800.woff') format("woff");
      }

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
    
        :visited { color: #00c0ff }
     
a{
  color:#0ab7f0;
}
    .fromtheweb-outer{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
-moz-box-pack: justify;
padding: 10px;
margin-bottom: 12px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
    }
        .fromtheweb-inner{
    -moz-box-align: center;
text-align:left;
font-size: 14px;
-moz-box-pack: center;
justify-content: center;
padding: 0px 0px;
line-height: 18px;
     }
    
 
#desc-container .backtotop {
  margin: 0%;
  display: none;
}
#desc-container .backtotop a {
   margin-top: .5em;
}
#desc .close { display: none; }
#desc {
font-size: .94em;
line-height: 1.2em;
text-align: left;
padding: .6em 3%;
margin: 0;
background: #000;
border-top: none;
border-radius: 23px;
height: 100%;
}
#set-language { margin-bottom: .2em; }
#set-language + p { 
   display: inline-block;
   font-size: 1em;  /* 15px */
   margin: .45em 0 0;
}

#descs { padding: .4em 0; }
#descs p {margin: 0;
font-weight: 900;
font-stretch: ultra-expanded;
padding: 3px;
    }
#descs span {
   display: inline-block;
   width: 10.5em;
   line-height: 2em;
}
#descs span a {
   line-height: 1.9em;
}
#descs span.original { font-weight: bold; }
/* Display/hide language list */

   #desc-container { display: none; }
   #desc-container:target { display: block; }
   .backtotop b { display: none; }

   body { position: relative; }
   #desc-container {
      position: absolute;
 margin-top: -12.4em;
     left: 0;
      width: 100%;
      height: 100%;
   }
   #language-container .backtotop a {
      position: absolute;
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      margin-top: 0;
   }
   #desc .close {
      float: right;
      display: block;
   }
   #desc .close span {
      display: none;
   }
   #desc .close:after {
      content: "\2A09";
      float: right;
      position: relative; bottom: .1em;
      cursor: pointer;
   }
  
   #descs {
      column-width: 10em;
      column-count: 3;
      column-gap: 0;
   }
   #descs span { display: block; }
   #descs span a { display: inline-block; }
    
    #comments-container .backtotop {
  margin: 0%;
  display: none;
}
#comments-container .backtotop a {
   margin-top: .5em;
}
#comments .close { display: none; }
#comments {
font-size: .94em;
line-height: 1.2em;
text-align: left;
padding: .6em 3%;
margin: 0;
background: #000;
border-top: none;
border-radius: 23px;
height: 100%;
}
#set-language { margin-bottom: .2em; }
#set-language + p { 
   display: inline-block;
   font-size: 1em;  /* 15px */
   margin: .45em 0 0;
}

#commentss { padding: .4em 0; }
#commentss p {margin: 0;
font-weight: 900;
font-stretch: ultra-expanded;
padding: 3px;
    }
#commentss span {
   display: inline-block;
   width: 10.5em;
   line-height: 2em;
}
#commentss span a {
   line-height: 1.9em;
}
#commentss span.original { font-weight: bold; }
/* Display/hide language list */

   #comments-container { display: none; }
   #comments-container:target { display: block; }
    
     #rec-cont:target { display: none; }
   #rec-cont { display: block; }

   .backtotop b { display: none; }

   body { position: relative; }
   #comments-container {
      position: absolute;
 margin-top: -12.4em;
     left: 0;
      width: 100%;
      height: 100%;
   }
   #language-container .backtotop a {
      position: absolute;
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      margin-top: 0;
   }
   #comments .close {
      float: right;
      display: block;
   }
   #comments .close span {
      display: none;
   }
   #comments .close:after {
      content: "\2A09";
      float: right;
      position: relative; bottom: .1em;
      cursor: pointer;
   }
  
   #commentss {
      column-width: 10em;
      column-count: 3;
      column-gap: 0;
   }
   #commentss span { display: block; }
   #commentss span a { display: inline-block; }
    
    
  .description{
      white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;

  }
  
  .desc {
       white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
  }
  </style>
  
  <style>
    #more-button-container .backtotop {
  margin: 0%;
  display: none;
}
#more-button-container .backtotop a {
   margin-top: .5em;
}
#more-button .close { display: none; }
#more-button {
font-size: .94em;
line-height: 1.2em;
text-align: left;
padding: .6em 3%;
margin: 0;
background: #000;
border-top: none;
border-radius: 23px;
height: 100%;
}
#set-language { margin-bottom: .2em; }
#set-language + p { 
   display: inline-block;
   font-size: 1em;  /* 15px */
   margin: .45em 0 0;
}

#more-buttons { padding: .4em 0; }
#more-buttons p {margin: 0;
font-weight: 900;
font-stretch: ultra-expanded;
padding: 3px;
    }
#more-buttons span {
   display: inline-block;
   width: 10.5em;
   line-height: 2em;
}
#more-buttons span a {
   line-height: 1.9em;
}
#more-buttons span.original { font-weight: bold; }
/* Display/hide language list */

   #more-button-container { display: none; }
   #more-button-container:target { display: block; }
    
     #rec-cont:target { display: none; }
   #rec-cont { display: block; }

   .backtotop b { display: none; }

   body { position: relative; }
   #more-button-container {
      position: absolute;
 margin-top: -12.4em;
     left: 0;
      width: 100%;
      height: 100%;
   }
   #language-container .backtotop a {
      position: absolute;
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      margin-top: 0;
   }
   #more-button .close {
      float: right;
      display: block;
   }
   #more-button.close span {
      display: none;
   }
   #more-button .close:after {
      content: "\2A09";
      float: right;
      position: relative; bottom: .1em;
      cursor: pointer;
   }
  
   #more-buttons {
      column-width: 10em;
      column-count: 3;
      column-gap: 0;
   }
   #more-buttons span { display: block; }
   #more-buttons span a { display: inline-block; }
</style>
  
  <style>body, html { margin: 0; padding: 0; } * { font-family: sans-serif; color:#fff } .player { background-color: #000 !important; display: grid; grid-template-columns: 1fr min-content; grid-template-rows: max-content 1fr max-content max-content max-content; gap: 0 0; width: 100%; /* height: 100%; */ aspect-ratio: 16 / 9; } .player * { color: #fff; } .player.embed, video.embed { position: fixed; top: 0; bottom: 0; left: 0; right: 0; } .player * { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; } .player > video { position: relative; width: 100%; height: 100%; z-index: 0; grid-area: 1 / 1 / 6 / 3; } .player.hide-controls > .player-title, .player.hide-controls > .player-controls, .player.hide-controls > .player-playback-bar-container, .player.hide-controls > .player-menu { display: none !important; } .player-controls { background-color: #0007; display: flex; justify-content: center; align-items: center; z-index: 1; grid-area: 1 / 1 / 6 / 3; } .player-button { width: 96px; height: 96px; font-size: 90px; text-align: center; line-height: 48px; } .player-tiny-button { width: 40px; font-size: 20px; text-align: center; } .player-tiny-button > i { color: #ddd; } .player-button, .player-button * { color: #dddddd !important; text-decoration: none; } .player-button > i { min-width: 48px; } .player-button:hover, .player-button:hover * { color: #fff !important; } .player-playback-bar { transition: width linear 100ms; } .player-playback-bar-container { grid-area: 4 / 1 / 5 / 3; display: flex; column-gap: 8px; justify-content: center; align-items: center; height: 8px; transition: height linear 100ms; width: 100%; z-index: 2; margin-bottom: 10px; } .player-playback-bar-bg { background-color: #fff3 !important; width: 100%; height: 100%; z-index: 2; display: grid; grid-template-columns: 1fr; grid-template-rows: 1fr; } .player-playback-bar-bg > * { grid-area: 1 / 1 / 2 / 2; } .player-playback-bar-buffer { background-color: #fffa !important; height: 100%; width: 0; z-index: 3; } .player-playback-bar-fg { background-color: #f00 !important; height: 100%; width: 0; z-index: 4; } .player-buffering { grid-area: 1 / 1 / 6 / 3; z-index: 1; display: flex; justify-content: center; align-items: center; } .player-buffering-spinner { width: 80px; height: 80px; }</style>
  <body>
<div class="app" style="color:#fff;margin-top: 0;">
<nav>
       <div class="left"><a class="class" href="/" style="font-family:Inter,sans-serif;color:#fff"> <img style="width: 8.5em;display: block;margin-left: -1.5em;margin-right: auto;" src="/css/logo-mobile.svg">      </a>
             </div>
           
            <div class="right">
          
       <a href="/discover?tab=search" style="padding-left: 8.5em;"><i class="fa-light fa-search"></i></a> 

            </div>
     
              <a name="top"></a>
        </nav>
	   <div class="mobile-page">
	<div class="primary" >
		<div class="video-player-container" style="background-color:#000">
					<video class="player" autoplay style="border-radius: 6px;" controls  poster="https://i.ytimg.com/vi/<%=video.id%>/hqdefault.jpg?v=607ddcd4">
 
  
        
                
                  <% if (!qua) { %>  


                     
                                                <source src="https://tube.kuylar.dev/proxy/media/<%=video.id%>/22" type="video/mp4; codecs=&quot;avc1.64001F, mp4a.40.2&quot;" label="hd720" selected="false">

                                                                             <% } %>                

      <% if (qua === "medium") { %>  

                                                <source src="https://tube.kuylar.dev/proxy/media/<%=video.id%>/18" type="video/mp4; codecs=&quot;avc1.64001F, mp4a.40.2&quot;" label="hd720" selected="false">
        
                                                                           <% } %>                

                                      

            
                
            
               <%  if (Array.isArray( video.Subtitles.Subtitle)) { %> 

    <% if (  video.Subtitles.Subtitle) { %>  

   <% video.Subtitles.Subtitle.forEach(x => { %><track src="/api/subtitles?v=<%=video.id%>&h=<%= x.language %>" label="<%= x.language %>" kind="subtitles">                                                             
         <% }) %>   
                                                                                                       <% } %>               
                                                           <% } %>                
 					</video>
                                                 
 		</div>
<div class="video-info" >
        <div style="background-image: linear-gradient( 135deg, #F97794 10%, #623AA2 100%, #8e6f7e 100%);border-radius: 10px;margin-bottom: 10px;padding-bottom: 1em;padding-top: 0.3em;">
          
                                        <div style="display: flex;justify-content: center;align-items: center;flex-direction: row; column-gap: 3px;" align="center">
                                
  <% if (!qua) { %> 

                                 <i style="display: block;" title="High Definition [Current]" class="fa-solid fa-high-definition"></i> <a href="/watch?v=<%=video.id%>&quality=medium"><i style="display: block;" title="Standard Definition" class="fa-light fa-standard-definition"></i></a>
                                                                      <% } %>               
                               <% if (qua) { %> 
                                 <a href="/watch?v=<%=video.id%>">  <i style="display: block;"  title="High Definition" class="fa-light fa-high-definition"></i> </a>  <i style="display: block;" title="Standard Definition [Current]"  class="fa-solid fa-standard-definition"></i>

                                                                      <% } %>               

       </div>            
                  <div class="video-title" style="font-family:'Inter';font-weight:900;white-space:yes;padding: 10px;"><%=video.Title%> <a id="language-button" href="#desc-container" style="float: right;" class="switch">
<i class="fa-thin fa-chevron-down"></i>
</a> </div>
                    
					<div class="channel-info" style="border: none;padding: 10px;background: #333;border-radius: 15px;margin-left: 6px;margin-right: 12px;" name="chnl">
               
				<a class="avatar">
					<img src=" <%= k.Video.Channel.Avatar[1].$t %>">
				</a>
              
				<div class="name" style="font-family:'Ginto Nord'">
		  <div>
						<a style="color:#fff" href="/channel?id=<%=k.Video.Channel.id%>" >  <%=k.Video.Channel.Name%></a>   
            
         
		<div class="subscriber-count" style="display: block ruby;">
          <%= k.Video.Channel.subscriberCount %>
 				</div>
              </div>
				</div>
               
 
				<button class="subscribe-button" ><a style="color:#fff" href="https://www.youtube.com/channel/<%=video.Channel.id%>?view_as=subscriber?sub_confirmation=1">Suscribe</a></button>
               
			</div>
            
                        <div>
                <div>
 				<div class="video-info-bar" style="font-family:'Inter';">

<div class="video-info-buttons" style="font-family:'Inter';font-weight:900;white-space:yes;background:#333;border-radius: 15px;margin: 6px;align-self: center;align-items: center;">
  <div>
   <i class="fa-light fa-thumbs-up"  style="font-size:x-large" ></i>
     <%=convert(engagement.likes)%>
       </div>
              <div>
 <i class="fa-light fa-thumbs-down"  style="font-size:x-large" ></i><%=convert(engagement.dislikes)%>
                </div>
					<a style="color:#fff" href="/download?v=<%=video.id%>&from=mobile">   
            <i style="font-size:x-large" class="fa-light fa-download"></i>
            Download
					</a>
            <a style="color:#fff" onclick="share()">   
            <i style="font-size:x-large" class="fa-light fa-share"></i>
            Share
					</a>
 	<a style="color:#fff" href="#more-button-container"> <i style="font-size:x-large;color:#fff" class="fa-thin fa-circle-plus"></i>More.. </a>
            </div>
				</div>
       <%  if (Array.isArray( inv.comments)) { %> 
<div style="padding: 0em;background: #333;border-radius: 16px;align-self: center;align-items: center;margin-left: 8px;margin-right: 12px;padding-bottom: 0;padding-top:1em">
            <div class="video-title" style="font-family:'PokeTube flex';font-weight:1000;white-space:yes;margin-top: -0.5em;margin-left: 0.4em;">Comments - <%- convert(inv.commentCount) %>
                    <a id="language-button" href="#comments-container" style="float: right;margin-right: 0.5em;" class="switch">
<i class="fa-thin fa-chevron-down"></i>
</a> 
                                                       </div> 
           <div class="" style="padding: 0em !important;margin-left: 0.3em;">

<div class="desc" style="display: flex;font-size: small;padding: 0;margin: -10px;margin-left: -0.5em">
                   <h5 style="display: flex;margin-top: 7px;padding-top: 10px;">
                     <div class="thumb">
                     
                     <div class="thumb">
				<a href="/channel?id=<%-  inv.comments[0].authorId%>" class="avatar" style="width: 40px;height: 40px;margin: 4px;">
					<img src="https://p.poketube.fun/<%=  inv.comments[0].authorThumbnails[1].url %>" style="width: 24px;height: 24px;margin-right: inherit;"  >
                     </a>
            </div>
                      
                           

              </h5>
              <p class="comment" style="font-weight: bold;color: #fff; word-wrap: break-word; overflow: hidden; text-overflow: ellipsis; display: -webkit-box;  -webkit-line-clamp: 2; line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis;  max-width: 50em;align-self:center;">
                <%-  inv.comments[0].contentHtml %>  
               </p>
            </div>
    
      </div>
                          
          </div>

 
 
                                                                                               <% } %>   
       
          </div>



<div id="desc-container">
  
 <div class="backtotop">
  <hr class="no-display" />
  <a href="#top"><b>&#9650;</b></a>
 </div>
 <div id="desc" class="rounded-corners">
<hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;margin: 0 11em;/*! width: 4.5em; */height: 0;"><hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;margin: 0 11em;/*! width: 4.5em; */height: 0;">

  <div id="set-language" class="button">

   </a>
  </div>
<div id="descs" style="display: contents;">
  <h3 style="font-family:'Ginto Nord';font-weight:900;white-space:yes"> Description  
   <a href="#top" class="close" style="color: #fff;"></a>
  </h3>
<hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;/*! width: 4.5em; */height: 0;">

         <div class="video-title" style="font-family:'Inter';font-weight:900;white-space:yes;margin-bottom: 8px;"><%=video.Title%></div>
<div class="channel-info" name="chnl" style="padding: 0;border: none;">
  <a href="/channel?id=<%=video.Channel.id%>" class="avatar">
					<img src=" <%= k.Video.Channel.Avatar[1].$t %>">
				</a>
				<div class="name" style="font-family:'Ginto Nord'">
		  <div>
						<a style="color:#fff" href="/channel?id=<%=k.Video.Channel.id%>" >  <%=k.Video.Channel.Name%></a>   
                          </div>
				</div>
		 
 			</div>
                 
<div style="display: flex;justify-content: center;gap: 3em;">
    
 <div style="text-align: center;font-size: x-large;margin: 9px;">
    	<p>
        <%=convert(engagement.viewCount)%>  
      <br>
 </p><p style="font-size: 17px;">Views</p>

          </p>
  </div>
<div style="text-align: center;font-size: x-large;margin: 9px;">
    	<p>
        <%=convert(engagement.likes)%>  
      <br>
 </p><p style="font-size: 17px;">Likes</p>

          </p>
  </div>
           
             <div>
    <div style="text-align: center;font-size: x-large;margin: 9px;">
    	<p>
        <%=convert(engagement.dislikes)%>  
      <br>
 </p><p style="font-size: 17px;">Dislikes</p>

          </p>
  </div>
  </div>
    </div>

  
                                  <hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;margin: 0 0;/*! width: 4.5em; */height: 0;"> 
<p style="margin-top: 10px;margin-bottom: 10px;">
                 Uploaded at <%=date%> :3
          </p>	
     <% if (String(video.Description) != "[object Object]")  { %>

              <%-String(inv_vid.descriptionHtml).replace(/\n/g, " <br> ").replace(/twitter\.com/g, "nitter.net").replace(/reddit\.com/g, "teddit.net") %>
                
                          <% } %>          
                            
    <% if (String(video.Description) == "[object Object]")  { %>
      <p> No Description On this Video ( sad innit :c )</p>
                          <% } %>               
                            
  <div style="margin: 10px;">
                    <div style="justify-content: center;display: flex;padding: 11px;font-family: Ginto nord;gap: 3px;background: #1f1f1f;border-top-left-radius: 10px;border-top-right-radius: 10px;">
More from  <%=k.Video.Channel.Name%>
          </div>  
                            <div style="justify-content: center;display: flex;padding: 11px;font-family: Ginto nord;gap: 3px;background: #1f1f1f;">
                             
<div style="border-radius: 5px;background: #333;width: fit-content;padding: 18px;">
		<a style="color:#fff" href="/channel?id=<%=k.Video.Channel.id%>&tab=about" > 

  <i class="fa-thin fa-square-user"></i> About
  </a>
                       </div>                     

                     <div style="border-radius: 5px;background: #333;width: fit-content;padding: 17px;">
		<a style="color:#fff" href="/channel?id=<%=k.Video.Channel.id%>" > 
      <i class="fa-thin fa-play"></i> Videos </a>
                       </div>      
                              

                              
            </div>  
                                                           <div style="background:#181818;" class="fromtheweb-outer">
                          <div class="fromtheweb-inner">
                             
                   <% if (wiki.extract_html) { %> 
<div class="video-title" style="color:#fff;font-family:Ginto Nord,sans-serif;font-weight:700;margin-top: 10px;margin-bottom: 10px;text-aligin:left;">From da web</div>
                     
<hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;/*! width: 4.5em; */height: 0;">

  <b><%-wiki.extract_html%>
   
<p style="margin-bottom: 10px;">

  <a href=" <%-wiki.content_urls.desktop.page%>
 ">From wikipedia </a> under CC-BY-SA 3.0
    </p></b>
 
                 
                      <% } %>  
                                 <% if (!wiki.extract_html) { %> 
                                                                    <% if (desc) { %> 

<div class="video-title" style="color:#fff;font-family:Ginto Nord,sans-serif;font-weight:700;margin-top: 10px;margin-bottom: 10px;text-aligin:left;">About This Channel</div>
                     
<hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;/*! width: 4.5em; */height: 0;">

<p><b><%-desc%></b></p>
 
                 
                      <% } %>                        <% } %>  

                        
                          </div>
                   
 			</div> 
                          <p style="font-family:MonoSpace;">
         <b>
PokeTube Mobile v12.10.22a - Node <%=process.version%> - V8 v<%=process.versions.v8%> -  <%=process.platform.replace("linux", "GNU/Linux")%> <%=process.arch%> Server ( <%=ip.org%> )
           </b>
         
                </p>            
 
                          </div>
</div>
 </div>
</div>
 
                            </div> 
                         <div id="more-button-container">
  
 <div class="backtotop">
  <hr class="no-display" />
  <a href="#top"><b>&#9650;</b></a>
 </div>
 <div id="more-button" class="rounded-corners">
   <hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;margin: 0 11em;/*! width: 4.5em; */height: 0;"><hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;margin: 0 11em;/*! width: 4.5em; */height: 0;">
 
  <div id="set-language" class="button">

  </div>
<div id="more-buttons" style="display: contents;">
  <h3 style="font-family:'Ginto Nord';font-weight:900;white-space:yes"> M O A R
    <a href="#top" class="close" style="color: #fff;"></a> </h3>
  <p style="padding: 0;margin: 0;font-family: Inter;">
More Epic options owo~
  </p>
  <hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;/*! width: 4.5em; */height: 0;">

           <div style="font-family:Inter,sans-serif;font-weight:900;white-space:yes;">
     <a href="https://youtube.com/watch?v=<%=video.id%>">Open On YouTube</a>  •  <a href="/privacy">Privacy</a>    • <a href="https://github.com/iamashley0/poketube/">Git</a> 
                                <% if (optout) { %> 
 <% } %>
      <% if (!optout) { %> 
   • <a href="/watch?v=<%=video.id%>&t=f"> 
 Opt out of Metrics</a> (<a href="/privacy" style="color:#fff">Wut?</a>) 
     <% } %>
                        <% if (lyrics && !r) { %>                      
      <% if (optout) { %> 
                 <br>    <br>     <a href="/watch?v=<%=video.id%>&r=f">  Lyrics (Wow) </a> 
  <% } %>
         <% if (!optout) { %> 
             <br>   <br>          <a href="/watch?v=<%=video.id%>&r=f" >  Lyrics (Wow) </a> 
 <% } %>
                            <% } %> 
                          
            <% } %>                                     
                     <br>    <br>   <p><i class="fa-light fa-shield"></i> The Connection is secured with ECDSA with SHA-384 Signature Algorithm :3 <a href="/encryption?v=<%=video.id%>">Click here for encryption info</a><br> 
                                             
                    </p> 


 


				</div>				</div>
				</div>
                                    
               
                              
      	           <% if (lyrics) { %>
                                                  <% if (r === "f") { %> 
                                <hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;margin: 0 0;/*! width: 4.5em; */height: 0;">
                                                    <p>
            <a href="/watch?v=<%=video.id%>">See the Recommended videos instead</a> - <a href="https://github.com/iamashley0/poketube/issues">Report wrong lyrics qwq</a>
                                                    </p>
         <div align="center">                                <hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;margin: 0 0;/*! width: 4.5em; */height: 0;">
                                                              <h1 style="font-family:'Ginto Nord',sans-serif;font-weight:900;white-space:yes;" align="center">
 Lyrics 
                        </h1>  
           <p>
 See how our lyrics search works:<a href="https://github.com/iamashley0/poketube/blob/main/src/lyrics.js">Here</a>
           </p>
                        <p style="color: white;">
                                        <p style=color:#fff>
                                            <%-lyrics%>
                                        </p> 
                           
                                          <% } %>
 
                                        <% } %>         
                                  
 		</div>
 </div>         
<div id="comments-container">
  
 <div class="backtotop">
  <hr class="no-display" />
  <a href="#top"><b>&#9650;</b></a>
 </div>
 <div id="comments" class="rounded-corners">
   <hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;margin: 0 11em;/*! width: 4.5em; */height: 0;"><hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;margin: 0 11em;/*! width: 4.5em; */height: 0;">
  <div id="set-language" class="button">

   </a>
  </div>
<div id="commentss" style="display: contents;">
   <h3 style="font-family:'Ginto Nord';font-weight:900;white-space:yes"> Comments <a href="#top" class="close" style="color: #fff;"></a> </h3>
  <p style="padding: 0;margin: 0;font-family: Inter;">
    Top Comments :3
  </p>
<hr style="clear: both;display: block;border: none;border-bottom: 0.5px solid #2f2f2f;/*! width: 4.5em; */height: 0;">

                                                                                                                                  <%  if (inv != "Disabled") { %> 

                                                                             <%  if (!Array.isArray( inv.comments)) { %> 
                                                                               <p>
                                                                                 Comments couldnt load ;-; (<a href="https://codeberg.org/Ashley/poketube/issues/new">Report dis issue</a> or refresh the god damn page lol)
                                                                               </p>
                             <% } %>
                             <% } %>

                                                                                                                                          <%  if (inv == "Disabled") { %> 

                                                                                <p>
                                                                                  Comments are disabled
                                                                               </p>
                              <% } %>

                                     
                        <%  if (Array.isArray( inv.comments)) { %> 

                                 <% inv.comments.forEach(x =>{ %>
 
                                 
                                   <div class="<%- x.commentId %>" style="padding: 10px;">

          <div class="comment-list left-padding" style="background: #333;padding-top: 1px;padding: 10px;border-radius: 30px;padding-top: 0;">
        <div class="single-comment justify-content-between d-flex" style="padding-top: none;">
          <div class="user justify-content-between d-flex">
            <div class="desc">
                   <h5 style="display: flex;margin-top: 7px;padding-top: 10px;"><div class="thumb">
				<a href="/channel?id=<%- x.authorId%>" class="avatar" style="width: 40px;height: 40px;">
					<img src="https://p.poketube.fun/<%= x.authorThumbnails[1].url %>" style="width: 40px;height: 40px;">
                     </a>
            </div>
                                                          <%  if (!x.authorIsChannelOwner) { %> 

                <p style="margin: 7px;font-family:inter;white-space: -moz-pre-wrap !important;white-space: -pre-wrap;white-space: -o-pre-wrap;white-space: pre-wrap;word-wrap: anywhere;white-space: -webkit-pre-wrap;word-break: break-all;white-space: normal;">
                  				<a href="/channel?id=<%- x.authorId%>" style="color: #fff;text-decoration: none;" >

                <%- x.author%> 
                  </a>
                            
                                <%  if (x.verified) { %> 
                                                              
                                                                   <i class="icon ion ion-md-checkmark-circle"></i>
                                                                                                <% } %>   

                  
                  </p>                                                                <% } %>   

                                          <%  if (x.authorIsChannelOwner) { %> 
<p style="margin: 5px;font-family:inter;white-space: -moz-pre-wrap !important;white-space: -pre-wrap;white-space: -o-pre-wrap;white-space: pre-wrap;word-wrap: anywhere;white-space: -webkit-pre-wrap;word-break: break-all;white-space: normal;background: #4a4a4a;padding: 3px;border-radius: 6px;width: auto;height: 1.4em;justify-self: center; ">
  
                  				<a href="/channel?id=<%- x.authorId%>" style="color: #fff;text-decoration: none;" >

                                <%- x.author%> 
                  </a>
                                  
                                                            <%  if (x.verified) { %> 
                                                              
                                                                   <i class="icon ion ion-md-checkmark-circle"></i>
                                                                                                <% } %>   
                                                                                                <% } %>   

                  
                  </p>

              </h5>
              <p class="comment" style="font-weight: bold;">
                <%- x.contentHtml %>
                 <span style="display: block ruby;"><%- x.publishedText %> - <%- convert(x.likeCount) %> Likes <%   if(x.creatorHeart) { %> 

                <i class="icon ion-ios-heart creator-heart-small-container" title="<%= x.creatorHeart.creatorName%> marked it with a ❤ owo"></i>
        </span>   
  
                                                                <% } %>   
              </p>
            </div>
          </div>
        </div>
      </div>
                          
                                               </div>

                                                                        <% }) %>   

                                   <% } %>   
                                     

                                                                              </div>

 



              </div>
				</div>
                   
            
                   
                           <div>
 
                                                   
                 
 	</div> 	</div>

                 
  	 <div class="secondary" style="padding-top: 0;">

	<div class="recommended-list" style="color:#fff">
    
                              <% if (!r) { %> 
                                 
                                
                              
                              
                              <% if (!f) { %> 
     <% k.Video.Recommendations.Video.forEach(x => { %>       
 						<div class="video">
                    <% if (!optout) { %> 

      <a  href="/watch?v=<%= x.id %>" class="thumbnail" style="background-image: url('https://p.poketube.fun/https://i.ytimg.com/vi/<%= x.id %>/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBy_x4UUHLNDZtJtH0PXeQGoRFTgw');border-radius: 9.5px;"  >								<span class="video-length"><%=x.duration %></span>
                           <% } %>
   <% if (optout) { %> 

      <a  href="/watch?v=<%= x.id %>&t=f" class="thumbnail" style="background-image: url('https://p.poketube.fun/https://i.ytimg.com/vi/<%= x.id %>/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBy_x4UUHLNDZtJtH0PXeQGoRFTgw');border-radius: 9.5px;"  >								<span class="video-length"><%=x.duration %></span>
                           <% } %>
							</a>
							<div class="info">
                
      <% if (!optout) { %> 
								<a href="/watch?v=<%= x.id %>" class="title max-lines-2"><%= x.Title %></a>
                   <% } %>
   <% if (optout) { %> 
								<a href="/watch?v=<%= x.id %>&t=f" class="title max-lines-2"><%= x.Title %></a>
                   <% } %>
								<div  style="color:#fff" >
               <a class="max-lines-2" style="color:#fff" href="/channel?id=<%= x.Channel.id %>"><%=x.Channel.Name %></a> • <div>
  <%= x.uploadedAt %>  </div>
								</div>
							</div>
						</div>
 
       <% }) %>   
                            <% } %>
 
     <% if (f) { %> 

     <% tj.Channel.Contents.ItemSection.ItemSection.Video.forEach(x => { %>       
 						<div class="video">
                    <% if (!optout) { %> 

      <a  href="/watch?v=<%= x.id %>" class="thumbnail" style="background-image: url('https://p.poketube.fun/https://i.ytimg.com/vi/<%= x.id %>/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBy_x4UUHLNDZtJtH0PXeQGoRFTgw');border-radius: 9.5px;"  >								<span class="video-length"><%=x.duration %></span>
                           <% } %>
   <% if (optout) { %> 

      <a  href="/watch?v=<%= x.id %>&t=f" class="thumbnail" style="background-image: url('https://p.poketube.fun/https://i.ytimg.com/vi/<%= x.id %>/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBy_x4UUHLNDZtJtH0PXeQGoRFTgw');border-radius: 9.5px;"  >								<span class="video-length"><%=x.duration %></span>
                           <% } %>
							</a>
							<div class="info">
       <% if (!optout) { %> 
								<a href="/watch?v=<%= x.id %>" class="title max-lines-2"><%= x.Title %></a>
                   <% } %>
   <% if (optout) { %> 
								<a href="/watch?v=<%= x.id %>&t=f" class="title max-lines-2"><%= x.Title %></a>
                   <% } %>
								<div>
               <a class="max-lines-2" style="color:#fff"  href="/channel?id=<%= video.Channel.id %>"><%=video.Channel.Name %></a>
									<div>  
 <%= x.uploadedAt %>  </div>
								</div>
							</div>
						</div>
 
       <% }) %>   
                            <% } %>
                                      
                               

              </div>
                           
                   
                                

  <script type="text/javascript">
<!--//--><![CDATA[//><!--
/**
 * @licstart The following is the entire license notice for the JavaScript
 * code in this page.
 *
 *  Copyright (C) 2021-2022 POKETUBE (https://github.com/iamashley0/poketube)
 *
 * The JavaScript code in this page is free software: you can redistribute
 * it and/or modify it under the terms of the GNU General Public License
 * (GNU GPL) as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.  The code is
 * distributed WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU GPL
 * for more details.
 *
 * As additional permission under GNU GPL version 3 section 7, you may
 * distribute non-source (e.g., minimized or compacted) forms of that code
 * without the copy of the GNU GPL normally required by section 4, provided
 * you include this license notice and a URL through which recipients can
 * access the Corresponding Source.
 *
 * @licend The above is the entire license notice for the JavaScript code
 * in this page.
 */

//--><!]]>
</script>
 <script>  
   // @license magnet:?xt=urn:btih:1f739d935676111cfff4b4693e3816e664797050&dn=gpl-3.0.txt GPL-3.0-or-later
 function share(){
   if (navigator.share) {
  navigator.share({
    title: document.title,
    text: "",
    url: "https://" + window.location.hostname + "/<%=video.id%>"
  })
  .then(() => console.log('Successful share'))
  .catch(error => console.log('Error sharing:', error));
}
 }
     // @license-end
                                          </script>
 <% if (!optout) { %> 
          <!-- MORE INFO :https://poketube.fun/privacy -->
          <!-- MORE INFO :https://poketube.fun/privacy -->
   
          <!-- if you  want to change the url - please see config in server.js  -->
   
         <!-- START <%=t%> -->  
  <!-- mobile only -->
   <!-- dont use matomo.php, as its being blocked by ublock origin. -->
        <img src="<%=t%>t/index.php?idsite=5&amp;rec=1" style="width: 0;visibility: hidden;border:0;"  alt="" >
  <!--- mobile only -->
   
        <img src="<%=t%>t/rep.gif?ID=<%=btoa(Date.now())%>" style="width: 0;visibility: hidden;" id="SesionID">
        <img src="<%=t%>t/rep.gif?video_id=<%=btoa(video.id)%>" style="width: 0;visibility: hidden;" id="videoID">
        <img src="<%=t%>t/rep.gif?channel_ID=<%=btoa(video.Channel.id)%>" style="width: 0;visibility: hidden;" id="channel">
        <img src="<%=t%>t/rep.gif?piwik=t" style="width: 0;visibility: hidden;" id="piwik_noip_no_personal-info_collect">
        <!-- END <%=t%> -->  
 <% } %>
</div>
 
</body>
</html>
  </body>
  <% } %>

  <% } %>
